@charset "UTF-8";

@media screen and (min-width:962px){
    
*{
    padding: 0px;
    margin: 0px;
}

    html,body{
        background-image: linear-gradient(to top, yellow, orange);
    
      
    }

   section#login{
    width:900px;
    height:400px ;
    }
     img{
        width: 400px;
        height: 400px;
        position: absolute;
        border-radius: 13px 0px 0px 13px;
        border: 2px solid black;
                  
    }

     main{
        padding: 35px;
     }
      
    #formulario{
        text-align: center;
        margin-left: 400px;
     
     }
     
     #enviar{
        width: 70px;
        margin-left: 50px;
        border: none;
        border-radius: 5px;
     }
     #esq{
        margin-left: 50px;
        width: 160px;
        border: none;
        border-radius: 5px ;
     }
     #esq:hover{
       background-color: orange;
     }
     #enviar:hover{
        background-color: orange;
     }
}